#text{
	margin-bottom: 10px;
}
.initial-note-form {
	margin: 2rem auto;
	background: white;
	width: 70%;
	-webkit-box-shadow: 2px 7px 33px -4px rgba(150,147,150,0.5);
	-moz-box-shadow: 2px 7px 33px -4px rgba(150,147,150,0.5);
	box-shadow: 2px 7px 33px -4px rgba(150,147,150,0.5);
}
.initial-note-form input {
    height: 3rem;
    border: none;
    width: 80%;
	padding: 1rem;
	outline: none;
}